<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787957819728-mssdqomsj8ngm4nmmj2v9d6b2fp18eia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787957819728-mssdqomsj8ngm4nmmj2v9d6b2fp18eia</string>
	<key>API_KEY</key>
	<string>AIzaSyA7-mpq9-aYJli2lCjHxBQpwgXvEgCm-R8</string>
	<key>GCM_SENDER_ID</key>
	<string>787957819728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JRApps.FitKitAdmin</string>
	<key>PROJECT_ID</key>
	<string>fit-kit-37d4d</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-kit-37d4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787957819728:ios:8a75dc5e6bdaf40460e455</string>
	<key>DATABASE_URL</key>
	<string>https://fit-kit-37d4d.firebaseio.com</string>
</dict>
</plist>